@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gothic+A1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D6A99A;
    max-width: 1000px;
    /* font-family: 'Gothic A1', sans-serif; */
    font-family: 'Gamja Flower', cursive;
    font-size: 18px;
    margin: 0 auto;
}

#container {
    background-color: #CDD6D0;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

h1 {
    font-family: 'Gamja Flower', cursive;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    padding: 1rem;
}

p {
    padding-top: 1rem;
    font-family: 'Gamja Flower', cursive;
    font-size: 1.75rem;
}

#buttons {
    padding: 1rem;
}

button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
    background-color:  #D6A99A;
    border: 1px solid #D6A99A;
    transition: transform .2s;
}

button:hover { 
    transform: rotate(45deg) scale(1.25);
}

/* .hoverTransform {
    transform: rotate(45deg) scale(2);
    color: red;
} */

/* .notransition {
    transition: none !important;
} */

#results {
    padding: 0 1rem 1rem 1rem;
}